.tools__container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.5rem;
}

.tools__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.tools__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.tools__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.tools__item-image img{
    object-fit:contain;
    height: auto;
    width: 50%;
    margin: auto;
}

.tools__item h3{
    margin-top: 1.5rem;
    text-align: center;
}

/* MEDIA QUERIES (MEDIUM DEVICES)*/

@media screen and (max-width: 1024px){
    .tools__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES)*/

@media screen and (max-width: 600px){
    .tools__container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}